<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>264726880299-er88qcoeq41r0b5ihb4j8itkte6qsq1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264726880299-er88qcoeq41r0b5ihb4j8itkte6qsq1a</string>
	<key>API_KEY</key>
	<string>AIzaSyAIrzGS91KEusljV1X_Kj2m1y3Go2xrID4</string>
	<key>GCM_SENDER_ID</key>
	<string>264726880299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.piksal.mstore</string>
	<key>PROJECT_ID</key>
	<string>mstore-1d7eb</string>
	<key>STORAGE_BUCKET</key>
	<string>mstore-1d7eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:264726880299:ios:8ca6e2cf6417b457</string>
	<key>DATABASE_URL</key>
	<string>https://mstore-1d7eb.firebaseio.com</string>
</dict>
</plist>